body{

    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
    color: rgb(80, 80, 80);
}
header {

    position: static;
}

main ul {

width: 1200px;
margin: 0 auto 48px auto;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;

}
li:nth-of-type(3) {
grid-column: 1 / span 2;

}

main li {

display: flex;
background-color: white;
box-shadow: 1px, 1px 4px rgba(0, 0, 0, 0.2);
border-radius: 6px;
overflow: hidden;

}

main li img {

    width: 300px;
    height: 280px;
    object-fit: cover;
}
.item-content {

    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions {

text-align: right;

}
.actions a{

color: royalblue;
font-weight: bold;
padding: 5px;

}
.actions a:hover {
background-color: rgb(181, 199, 255);
border-radius: 6px;

}






footer {

    background: linear-gradient(70deg, rgb(20, 20, 20), rgb(0, 0, 0));
    padding: 36px;
        }
    
        footer ul {
    
            display: flex;
            justify-content: center;
            
        }
    
        footer li {
    
    width: 80px;
    height: 80px;
    margin: 0 50px;
    
    
        }
    
        footer img {
    
    width: 100%;
    height: 100%;
    
        }